    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
    }

    div {
        width: 100%; 
    }

    .first-section,
    .second-section,
    .third-section,
    .fourth-section,
    .fifth-section {
        border: none;
        height: auto;
    }

    .first-section {
        background-color: #1F2937;
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .header-logo {
        font-family: 'Roboto';
        font-size: 24px;
        color: #F9FAF8;

    }

    .header-link {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        color: #E5E7EB;
    }

    .hero-main-text {
        background-color: red;
    }















    
    .second-section {
        background-color: #F9FAF8;
    }

    .third-section {
        background-color: #E5E7EB;
    }

    .fourth-section {
        background-color: #F9FAF8;
    }

    .fifth-section {
        background-color: #1F2937;
    }